.board {
    width: 800px;
    height: 80px;
    display: flex;
    border: 5px solid rgb(random(255), random(255), random(255));
    //border-left: none;

    .board-element{
        border-left: 1px solid rgb(random(255), random(255), random(255));
        height: 100%;
        width: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        &:first-child{
            border: none;
        }

        label{
            height: 48%;                 
            width: 32%;
        }

        label:nth-child(2),
        .bonus{
            border-left: 1px solid rgb(random(255), random(255), random(255));
            border-bottom: 1px solid rgb(random(255), random(255), random(255));
        }

        label:last-child{
            width: 100%;
        }

        .spare{
            border-top: 33px solid white;
            border-right: 26px solid black;
        }

        .strike{
            background: black;
        }

    }
}