@mixin random-bgr-color() {
    color: rgb(random(255), random(255), random(255));
}
@mixin random-bgr-background() {
    background: rgb(random(255), random(255), random(255), 0.2);
}

.user-data{
    @include random-bgr-background();
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    //background: rgba(227, 97, 253, 0.06);
    border-bottom-right-radius: 30px;
}

.name{
    @include random-bgr-color();
}

.enter-score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input{
        padding: 1rem;
        margin-top: 5rem;
        margin-bottom: 1rem;
        border: none;
        border-bottom: 1px solid black;
        font-size: 1.5rem;
        outline: none;
        text-align: center;
    }
}

.final-score{
    @include random-bgr-color();
    font-size: 2rem;
    border: 2px solid rgb(random(255), random(255), random(255), 0.2);
    position: relative;
   top: 70px;
}

.to-scores{
    @include random-bgr-background();
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.8rem;
    margin: 1rem;
}